/*
            ___                            _
    /\   /\/ __\___  _ __  _ __   ___  ___| |_
    \ \ / / /  / _ \| '_ \| '_ \ / _ \/ __| __|
     \ V / /__| (_) | | | | | | |  __/ (__| |_
      \_/\____/\___/|_| |_|_| |_|\___|\___|\__|

        Sentence checker for Projet-Voltaire
*/

.warning {
    color: darkred;
}

.title {
    text-align: center;
}

.button {
    padding: 12px 16px;
    font-size: 16px;
    border: none;
    color: white;
    background-color: rgb(56, 56, 56);
    text-align: center;
    text-decoration: none;
    display: inline-block;
}